html{
    cursor: pointer;
    font-family: "Bergamasco.ttf";
}

body {
    margin: 0;
}
.seti{
    display: flex;
    justify-content: space-evenly;
}
.vk{
    width: 30px;
    height: 30px;
}
.vk:hover{
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
}
.gog{
    width: 30px;
    height: 30px;
}
.gog:hover{
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
}
.tg{
    width: 30px;
    height: 30px;
}
.tg:hover{
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
}
.all{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.back{
    width: 100%;
    filter: blur(5px);
}
.big{
    width: 150px;
    height: 150px;
    position: relative;
    left: 35%;
    bottom: 15%;
    border-radius: 50%;
    border-top: 2px solid rgba(131, 26, 0, 0.868) ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reg{
    margin: 0 auto;
    width: 30%;
    height: 55%;
    background:rgba(94, 50, 21, 0.705);
    margin-top: 15%;
    position: absolute;
    left: 35%;
    border-top: 5px solid rgba(131, 26, 0, 0.868) ;
}
.type{
    width: 80%;
    height: 10%;
    margin-left: 10%;
}

.center {
    text-align: center;
}

.button{
    background: rgb(177, 68, 41);
    border: none ;
    color: white;  
    margin-top: 11%;
    text-decoration: none;
    font-size: 200%;
    padding: 1.5%;
}
.button:hover {
    
    border: 5px solid rgba(131, 26, 0, 0.868);
}
.forg{
    text-align: center;
    color: rgba(255, 255, 255, 0.784);
    margin-top: 5%;
}
.knopki{
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.284);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
}
.kn{
    text-decoration: none;
    color: #000000;
    text-align: center;
    transition: 0.2s;
    font-weight: bold;
}
.kn:hover {
    transform: scale(1.2);
}
.kno{
    width: 13%;
}
.knop{
    text-align: center;
}
@font-face {
    font-family: "Bergamasco.ttf"; 
    src: url("ofont.ru_Bergamasco.ttf")
} 
@media(max-width:1000px){
    .kno{
        width: 25%;
    }
    .big{
        width: 180px;
        height: 180px;
        position: relative;
        left: 35%;
        bottom: 8%;
    }
    .reg{
        width: 60%;
        position: absolute;
        left: 20%;
        top:10%
    }
    .knop{
        font-size: 10px;
    }
    .tg,.gog,.vk{
        width: 50px;
        height: 50px;
    }
    .button{
        font-size: 250%;
    }

}